@model DSD_CMS.Model.Models.Dealers

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id != 0 ? "Update" : "Create") Dealer</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3" style="color: black">

                        <div class="row pb-2">
                            <h3 class="text-primary">@(Model.Id != 0 ? "Update" : "Create") Dealer</h3>
                            <hr />
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="DealerName" class="form-control border-0 shadow" />
                            <label asp-for="DealerName" class="ms-2"></label>
                            <span asp-validation-for="DealerName" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="DealerLocation" class="form-control border-0 shadow" />
                            <label asp-for="DealerLocation" class="ms-2"></label>
                            <span asp-validation-for="DealerLocation" class="text-danger"></span>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="ContactNo" class="form-control border-0 shadow" />
                            <label asp-for="ContactNo" class="ms-2"></label>
                            <span asp-validation-for="ContactNo" class="text-danger"></span>

                         <div class="form-floating py-2 col-12">
                            <input asp-for="AddressLine1" class="form-control border-0 shadow" />
                            <label asp-for="AddressLine1" class="ms-2"></label>
                            <span asp-validation-for="AddressLine1" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="AddressLine2" class="form-control border-0 shadow" />
                            <label asp-for="AddressLine2" class="ms-2"></label>
                            <span asp-validation-for="AddressLine2" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="City" class="form-control border-0 shadow" />
                            <label asp-for="City" class="ms-2"></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="State" class="form-control border-0 shadow" />
                            <label asp-for="State" class="ms-2"></label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Country" class="form-control border-0 shadow" />
                            <label asp-for="Country" class="ms-2"></label>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                    @if (Model.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Create</button>

                                    }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Dealers" asp-action="Index" class="btn btn-outline-secondary form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
