<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> @*@ViewData["Title"] - *@ DSD_CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DSD_CMS_Project.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding-top:0px;padding-bottom:0px">
            
            <div class="container-fluid">
            
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo-container">
                        <img src="~/images/logo/logo.png" alt="Mercedes-Benz Logo" class="logo">
                    </div>
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav me-auto" style="margin-left:20px;">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown" style="margin-left:20px;">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="CarModel" asp-action="Index">Car Model</a>
                                </li>
                                
                                 <li class="nav-item" >
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Variant" asp-action="Index">Variant</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="InteractiveCheckSheets" asp-action="Index">Interactive CheckSheets</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="ApplicationImages" asp-action="Index">Application Images</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="InsideInventory" asp-action="Index">Inside Inventory</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="ServiceProduct" asp-action="Index">Service Product</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="FeedbackQuestions" asp-action="Index">Feedback Questions</a>
                                </li>

                            </ul>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="CarModel" asp-action="Index">Car Model</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Variant" asp-action="Index">Variant</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="InteractiveCheckSheets" asp-action="Index">Interactive CheckSheets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="ApplicationImages" asp-action="Index">Application Images</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="InsideInventory" asp-action="Index">Inside Inventory</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="ServiceProduct" asp-action="Index">Service Product</a>
                        </li>*@

                       

                        <li class="nav-item dropdown" style="margin-left:20px;">

                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dealers
                            </a>

                            <ul class="dropdown-menu">

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Dealers" asp-action="Index">Manage Dealers</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Showrooms" asp-action="Index">Manage Showrooms</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Customer" asp-controller="Devices" asp-action="Index">Manage Devices</a>
                                </li>

                            </ul>

                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Dealers" asp-action="Index">Manage Dealers</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Showrooms" asp-action="Index">Manage Showrooms</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Devices" asp-action="Index">Manage Devices</a>
                        </li>
*@
                        <li class="nav-item" style="margin-left:20px;">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Users" asp-action="Index">Users</a>
                        </li>

                        <li class="nav-item" style="margin-left:20px;">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Extras" asp-action="Index">Extras</a>
                        </li>

                        <li class="nav-item" style="margin-left:20px;">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="HealthCard" asp-action="Index">Health Card</a>
                        </li>

                        <li class="nav-item" style="margin-left:20px;">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Settings" asp-action="Index">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="FeedbackQuestions" asp-action="Index">Feedback Questions</a>
                        </li>

                       @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Customer" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>*@

                    </ul>

                </div>

            </div>

        </nav>
    </header>

    <div class="container"
    @*style="max-width:fit-content"*@
         style="max-width:1440px">
        <main role="main" class="pb-3">
            @*@RenderBody()*@
            <partial name="_Notifier" />
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DSD_CMS_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html> 