@model DSD_CMS.Model.Models.CarModel

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Car Model</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row" enctype="multipart/form-data">

            <input asp-for="Id" hidden />
            <input asp-for="CarImage" hidden />
            <input asp-for="RightAngleLineImage" hidden />
            <input asp-for="RightAngleImage" hidden />
            <input asp-for="LeftAngleImage" hidden />
            <input asp-for="LeftAngleLineImage" hidden />
            <input asp-for="FrontAngleLineImage" hidden />
            <input asp-for="FrontAngleImage" hidden />
            <input asp-for="BackAngleImage" hidden />
            <input asp-for="BackAngleLineImage" hidden />

            <div class="row">
                <div class="col-12">
                    <div class="border p-3" style="color: black">

                        <div class="row pb-2">
                            <h3 class="text-primary">Enter Car Model Details</h3>
                            <hr />
                        </div>
                        @*<div asp-validation-summary="All"></div>*@


                        <div class="form-floating py-2 col-12">
                            <input asp-for="ModelName" class="form-control border-0 shadow" />
                            <label asp-for="ModelName" class="ms-2">Model Name</label>
                            <span asp-validation-for="ModelName" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="ModelCode" class="form-control border-0 shadow" />
                            <label asp-for="ModelCode" class="ms-2"></label>
                            <span asp-validation-for="ModelCode" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="file" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="CarImage" class="ms-2">@Model.CarImage</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="fontAngleImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="FrontAngleImage" class="ms-2">Front Angle Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="backAngleImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="BackAngleImage" class="ms-2">Back Angle Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="leftAngleImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="LeftAngleImage" class="ms-2">Left Angle Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="rightAngleImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="RightAngleImage" class="ms-2">Right Angle Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="frontAngleLineImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="FrontAngleLineImage" class="ms-2">Front Angle Line Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="backAngleLineImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="BackAngleLineImage" class="ms-2">Back Angle Line Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="leftAngleLineImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="LeftAngleLineImage" class="ms-2">Left Angle Line Image</label>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input type="file" name="rightAngleLineImage" class="form-control border-0 shadow" onchange="validateFile(this)" required />
                            <label asp-for="RightAngleLineImage" class="ms-2">Right Angle Line Image</label>
                        </div>

                        <div class="row pt-2">

                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>

                            <div class="col-6 col-md-3">
                                <a asp-controller="CarModel" asp-action="Index" class="btn btn-outline-secondary form-control">
                                    Back to List
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

                @*<div class="col-2">
                    <img src="@Model.CarImage" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>*@

            </div>

        </form>

    </div>
</div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        function validateFile(input) {
            var allowedExtensions = /(\.png|\.jpeg|\.jpg)$/i;
            var maxFileSize = 5 * 1024 * 1024; // 5MB in bytes
            var file = input.files[0];

            if (!allowedExtensions.exec(file.name)) {
                alert('Invalid file type. Please insert a .png or .jpg file.');
                input.value = '';
                return false;
            }

            if (file.size > maxFileSize) {
                alert('Image should be less than 5MB.');
                input.value = '';
                return false;
            }

        }
    </script>
}