@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <link rel="stylesheet" href="wwwroot\css\site.css">
    
    <body>
        <h1 class="display-4 mercedes-font">DSD - Content Management System</h1>
    </body>

    <br />    
    <p class="index-link">Go to GMS <a href="https://mbil.themercedespark.com/DSDGMS/Home/Index" target="_blank"> click here</a>.</p>

    <br/>
    <p class="index-link">Go to Live Vehicle Status <a href="https://mbil.themercedespark.com/DSDGMS/Home/livevehiclestatus" target="_blank"> click here</a>.</p>
   
</div>
