@model List<HealthCard>

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Health Card Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                <h3 class="text-primary">
                    Manage Health Card
                </h3>
            </div>

            @*<div class="col-6 text-end">
                <a asp-controller="InsideInventory" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  New Inside Inventory
                </a>
            </div>*@

            <div class="col-6 text-end">
                <a id="exportToExcelBtn" class="btn btn-primary" href="/Customer/HealthCard/ExportToExcel">
                    <i class="bi bi-file-excel"></i> Export to Excel
                </a>
            </div>

        </div>

        <table id="hcdata" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SR#</th>
                    <th>Customer</th>
                    <th>Mileage</th>           
                    <th>Tread depth</th>       
                    <th>Break pad</th>         
                    <th>Break disc</th>        
                    <th>Battery</th>
                </tr>                          
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/hcard.js"></script>
}