@model DSD_CMS.Model.Models.HealthCard

<div class="card box-shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Id != 0 ? "Update" : "Create") Health Card</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-12">
                    <div class="border p-3" style="color: black">

                        <div class="row pb-2">
                            <h3 class="text-primary">@(Model.Id != 0 ? "Update" : "Create")  Health Card</h3>
                            <hr />
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Sr" class="form-control border-0 shadow" />
                            <label asp-for="Sr" class="ms-2">SR#</label>
                            <span asp-validation-for="Sr" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Customer" class="form-control border-0 shadow" />
                            <label asp-for="Customer" class="ms-2"></label>
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Mileage" class="form-control border-0 shadow" />
                            <label asp-for="Mileage" class="ms-2"></label>
                            <span asp-validation-for="Mileage" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="TreadDepth" class="form-control border-0 shadow" />
                            <label asp-for="TreadDepth" class="ms-2">Tread Depth</label>
                            <span asp-validation-for="TreadDepth" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Breakpad" class="form-control border-0 shadow" />
                            <label asp-for="Breakpad" class="ms-2"></label>
                            <span asp-validation-for="Breakpad" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="BreakDisc" class="form-control border-0 shadow" />
                            <label asp-for="BreakDisc" class="ms-2"></label>
                            <span asp-validation-for="BreakDisc" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Battery" class="form-control border-0 shadow" />
                            <label asp-for="Battery" class="ms-2"></label>
                            <span asp-validation-for="Battery" class="text-danger"></span>
                        </div>



                        <div class="row pt-2">
                            
                            <div class="col-6 col-md-3">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>

                                }
                            </div>

                            <div class="col-6 col-md-3">
                                <a asp-controller="HealthCard" asp-action="Index" class="btn btn-outline-secondary form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
